body {
  font-family: "Roboto Condensed", sans-serif;
  background: #dfd3c3;
}

h1 {
  color: #dfcdc3;
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  display: block;
  margin-top: 30px;
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #f0ece2;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 20px;
}

form {
  padding-top: 15px;
}

h3 {
  color: #f0ece2;
  text-align: left;
  font-weight: 200;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  padding-top: 10px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: white;
  font-size: 16px;
  font-weight: 100;
  text-transform: capitalize;
  height: 19px;
  line-height: 1;
  list-style: none;
}

footer {
  text-align: center;
}

.app {
  margin: 60px auto;
  max-width: 800px;
  box-sizing: border-box;
  display: block;
}

.weather {
  margin: 20px auto;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background: #719192;
  padding: 40px;
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
  max-width: 600px;
}

.scattered-clouds-day {
  margin-right: 5px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.search-city-button {
  background: #80ac7b;
  height: 35px;
  letter-spacing: 1.5px;
  font-size: 11px;
  text-transform: uppercase;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
}

.search-city-button:hover {
  background-color: #7c7c7c;
  transform: translateY(-3px);
}

.current-button {
  background: #8cbeaa;
  border: none;
  border-radius: 45px;
  height: 35px;
  letter-spacing: 1.5px;
  font-size: 11px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.current-button:hover {
  background-color: #7c7c7c;
  transform: translateY(-3px);
}
