body {
  font-family: "Roboto Condensed", sans-serif;
  background: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
}

h1 {
  color: #5dacbd;
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  display: block;
  margin-top: 30px;
}

h2 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-size: 20px;
}

h3 {
  text-align: left;
  font-weight: 200;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  padding-top: 10px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid black;
  background: white;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
